= simple_form_for(@survey) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.simple_fields_for :questions do |builder|
      = render 'question', f:builder

  .form-actions
    = f.button :submit


= debug params
